/* 
bacground image: linear-gradient(red, yello)

in this linear-gradient is property
        red = color-stop1
        yellow = color-stop2
when we are using linear gradient property we need to give 2 values is complosory.

bacground image: linear-gradient
                 (to right (here is we can go direction)
                 90deg (angle) ,
                 red, yello
                 )
*/

/* -----------------------------------what is linear gradient------------------------------------------ */
/* The linear-gradient() css function creates an image consisting of progressive transtion betwwen two or more colors along a straight line */
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

section{
        width: 100%;
        height: 100vh;
        /* background-image: linear-gradient(#030637, #3C0753,  #720455, #910A67); */
        /* background-image: linear-gradient(to right, #030637, #3C0753,  #720455, #910A67); */
        /* background-image: linear-gradient(to left, #030637, #3C0753,  #720455, #910A67); */
        /* background-image: linear-gradient(to left top, #030637, #3C0753,  #720455, #910A67); */
        /* background-image: linear-gradient(to left top, #030637, #3C0753,  #720455, #910A67); */
        background-image: linear-gradient(140deg, #030637, #3C0753,  #720455, #910A67);
        /* background-image: repeating-linear-gradient(90deg, #030637, #3C0753 450px); */
} 