@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* --------------------------------------Base rule------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 50.5%;
  /* 1rem =10px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/* ------------------------------------------------ROOT--------------------------------------------------------- */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}
/* --------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------Layout------------------------------------------------------------ */

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 4.5rem 2.4rem;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
/* ------------------------------------------Repeat--------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
}
.section-common-heading {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}
.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1rem 0;
}

.fa-solid {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 1.7rem;
  border-radius: 50%;
}

:is(
    .section-about,
    .section-course,
    .section-why-choose,
    .section-blog,
    .section-contact
  )
  .container:first-child {
  padding: 6.4rem 2rem 2.4rem 2rem;
}

/* ----------------------------------------------State----------------------------------------------------------- */
.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}
/* ----------------------------------------------Nav Bar----------------------------------------------------------- */
.nav_section {
  width: 100%;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2.4rem;
}

.nav_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  height: auto;
}

.logo {
  width: 8rem;
}

.nav_section .navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1.6rem;

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover:after {
    width: 100%;
    color: var(--hero-heading-color);
  }
}

/* ----------------------------------------------Hero section----------------------------------------------------------- */
main {
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
  position: relative;
}
.hero_section .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    color: var(--hero-heading-color);
    font-weight: 700;
  }

  & .hero-heading {
    color: var(--hero-heading-color);
    line-height: 1.2;
    font-family: "Jost";
    font-size: 4.5rem;
    font-weight: 900;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 0.2rem 0 4.2rem 0;
  }
}
.hero-section--image img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}
/* ----------------------------------shape divider------------------------------------------- */
.custom-shape-divider-bottom-1707742148 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707742148 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707742148 .shape-fill {
  fill: #ffffff;
}

/* --------------------------------------------------about section-------------------------------- */
.section-about .grid {
  gap: 6.2rem;
}
.section-about .about-div {
  text-align: center;
}
.section-about img {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  width: 15rem;
  height: auto;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.about-div .icon:hover > img {
  rotate: 360deg;
  background: linear-gradient(to right, #0575e6, #021b79);
}

/* --------------------------------------------------course section-------------------------------- */
.section-course .grid {
  gap: 3.2rem;
}
.section-course .course-div {
  padding: 3.2rem;
}
.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(1) .icon .fa-solid {
  background-color: #96e9c6;
}
.section-course {
  background-color: var(--bg-color);
}
.course-div:nth-child(2) .icon .fa-solid {
  background-color: #f2f597;
}
.course-div:nth-child(3) .icon .fa-solid {
  background-color: #f3d7ca;
}
.course-div:nth-child(4) .icon .fa-solid {
  background-color: #86a7fc;
}
.course-div:nth-child(5) .icon .fa-solid {
  background-color: #b784b7;
}
.course-div:nth-child(6) .icon .fa-solid {
  background-color: #b47b84;
}
.course-div:nth-child(7) .icon .fa-solid {
  background-color: #c7b7a3;
}

/* --------------------------------------------------why choose us section-------------------------------- */
.section-why-choose .left-div .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: right;
}

.section-why-choose .right-div .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.section-why-choose .center-div--img img {
  width: 100%;
  height: auto;
}

.section-why-choose .grid-three--cols {
  gap: 5rem;
}

.center-div--img,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-div--img::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--hero-heading-color);
  border-radius: 50%;
  z-index: -1;
  animation: circle 5s linear infinite;
}

.section-why-choose .common-text--highlight {
  width: 5rem;
  aspect-ratio: 1;
  padding: 2rem;
  background-color: var(--supporting-color);
  color: var(--main-color);
  font-size: 1.7rem;
  border-radius: 50%;
  font-weight: 800;
}

@keyframes circle {
  0% {
    background-color: #49648f;
  }
  25% {
    background-color: #3b6ab5;
  }
  50% {
    background-color: #17325c;
  }
  75% {
    background-color: #4c6a9b;
  }
  100% {
    background-color: #49648f;
  }
}

.center-div--img::after {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  width: 110%;
  padding-bottom: 110%;
  border: 2px solid #7aa8f2;
  border-radius: 50%;
  z-index: -2;
}

/* --------------------------------------------------Blog section-------------------------------- */
.section-blog {
  background-color: var(--bg-color);

  & .grid-four--cols {
    gap: 2.4rem;
  }

  & .blog-div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1.4rem 2rem 2rem;
    transition: all 0.3s linear;
  }

  & .blog-div:hover {
    scale: 1.05;
  }

  & img {
    width: 150px;
    height: 150px;
  }

  & .blog-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.5rem;

    & .fa-solid {
      background-color: transparent;
      padding: 0;
    }
  }

  & .section-common--title {
    margin-top: 1rem;
  }
}

/* --------------------------------------------------Contact home page section-------------------------------- */
.section-contact-home-page {
  width: 60%;
  min-height: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
  position: relative;
  bottom: -15rem;
  z-index: 1;
  background-color: var(--white-color);
  border-radius: 5rem;
}

.section-contact-home-page img {
  width: 90%;
  height: auto;
}

.conatct-title {
  line-height: 5rem;
  font-size: 2rem;
}

.conatct-title,
p {
  font-weight: 600;
  margin: 1.2rem 0 2.4rem 0;
}
.section-contact-home-page a {
  color: var(--white-color);
  text-transform: capitalize;
}
.section-contact-home-page .fa-solid {
  padding: 0;
  background-color: var(--main-color);
  color: var(--white-color);
}

/* --------------------------------------------------Footer section-------------------------------- */
footer {
  background-color: var(--footer-bg-color);
  padding: 15rem;
}

footer * {
  color: var(--white-color);
  /* text-align: right; */
}

.footer-subheading {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

.footer-1--div,
p {
  margin: 1rem 0 3.2rem 0;
}

.footer-1--div {
  & .footer-social--icon {
    display: flex;
    gap: 2.5px;

    & .fa-brands {
      width: 5rem;
      aspect-ratio: 1;
      background-color: var(--supporting-color);
      color: var(--bnt-hover-bg-color);
      font-size: 2.1rem;
      border-radius: 50%;
      font-weight: 800;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s linear;

      &:hover {
        color: var(--supporting-color);
        background-color: var(--bnt-hover-bg-color);
        rotate: 360deg;
      }
    }
  }
}

/* --------------------------------------------------Contact Us-------------------------------- */
.section-contact {
  & .mb-3 {
    margin-bottom: 3.2rem;
  }

  & label {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem;
  }

  & .grid-two--cols {
    gap: 3.6rem;
  }

  & input,
  textarea {
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
    height: 80%;
    font-size: 1.7rem;

    &::placeholder {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
    }
  }
}

/* --------------------------------------------------Scroll Bar-------------------------------- */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color);
}

/* --------------------------------------------------Media query-------------------------------- */

@media (width <= 1000px) {
  html {
    font-size: 45.5%;
  }
  .hero-section--image img {
    width: 90%;
  }
}

@media (width <= 920px) {
  .hero_section {
    height: auto;
    padding-bottom: 10rem;

    & .grid-two--cols {
      grid-template-columns: 1fr;
      place-items: center;
    }

    & .hero-section--content {
      order: 2;
    }
    & .hero-section--image {
      order: 1;
      width: 40%;
    }
  }
  .grid-three--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .grid-two--cols {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .nav_section .container {
    display: flex;
    flex-direction: column;
    z-index: 1.2%;
  }

  footer .grid-four--cols {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    text-align: left;

    & .footer-1--div {
      grid-row: 2 / 3;
      grid-column: 1/-1;
      margin-top: 6.4rem;
    }
  }
  footer {
    padding: 10rem;
  }

  .section-why-choose {
    & .center-div--img {
      order: 1;
      width: 70%;
      align-items: center;
    }

    & .left-div {
      order: 2;
    }

    & .right-div {
      order: 3;
    }
    & .center-div--img::before {
      width: 0;
      padding-bottom: 0;
      background-color: transparent;
    }
    & .center-div--img::after {
      width: 0;
      padding-bottom: 0;
    }
  }

  .section-why-choose .left-div .left {
    align-items: start;
    text-align: left;
  }

  .section-contact-home-page .contact-image {
    width: 60%;
  }
}

@media (width <= 450px) {
  .hero-section--content .hero-heading {
    font-size: 1rem;
  }
  .section-contact .grid-two--cols{
    grid-template-columns: 1fr;

    & input,
    textarea {
      padding: 0 0.5rem 0 0.5rem;
      width: 100%;
      height: 80%;
      font-size: 1.7rem;
  }
}
}
